<?xml version="1.0" encoding="utf-8"?>

<!--https://github.com/NLog/NLog/wiki/Tutorial-->

<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="asyncFileError" xsi:type="AsyncWrapper">
        <target name="errorLogFile" xsi:type="File" fileName="Errors.txt" />
      </target>
      <target name="asyncFileInfo" xsi:type="AsyncWrapper">
        <target name="infoLogFile" xsi:type="File" fileName="Info.txt" />
      </target>
    </targets>

    <rules>
      <logger name="*" minlevel="Error" writeTo="asyncFileError" />
      <logger name="*" minlevel="Debug" writeTo="asyncFileInfo" />
    </rules>
  </nlog>

</configuration>